

.movies-list-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    gap:3%;
    justify-content: space-between;
    align-items: center;
}

.movie-list--cards-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.movie-list--cards {
    display: grid;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 5px;
    margin-top: 25px;
}
.movie-list--cards::-webkit-scrollbar {
    display: none;
  }

.movie-list--card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 330px;
   width: 177px;
   cursor: pointer;
   border-radius: 15px;
   border: .5px solid rgb(129, 129, 129);
   -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
   -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
}

.movie-list--card:hover,
.movie-list--card:focus
 {
    filter: sepia(50%) ;
    -webkit-filter:sepia(50%);
    -moz-filter: sepia(50%);
    transition: .5s ease;
 }

.movie-list--card-background {
    display: flex;
    height: 80%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.movie-list--card-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: var(--color-main);
    position: absolute;
    top: -405%;
    left: 85%;
}

.movie-information-popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  position: absolute;
  gap: 5%;
  left: 0;
  top: 0;
  background-color: var(--color-main);
  z-index: 999;
}

.movie-information-popup--big-poster,
.movie-information-popup--full-information {
  display: flex;
  height: 90dvh;
  flex-direction: column;
}

.movie-information-popup--big-poster {
  width: 35%;
}

.movie-information-popup--full-information {
  position: relative;
  width: 55%;
  justify-content: center;
  position: relative;
}

.movie-information-popup--full-information span {
 text-decoration: underline;
 color: rgb(255, 0, 0);
 font-size: 1.5rem;
 letter-spacing: 5px;
}

.movie-information-popup--full-information__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.movie-information-popup--full-information__list li {
  color: aliceblue;
  list-style: none;
  font-size: 1.5rem;
  word-spacing: 5px;
  letter-spacing: 4px;
}

.movie-information-popup--navigation{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 80px;
  padding: 100px 0;
  position: absolute;
  bottom: 0;
}

.movie-information-popup--navigation > button{
  display: flex;
  min-height: 30px;
  min-width: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-information-popup--close-button {
  position: absolute;
  right: -3%;
  top: -3%;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

@media only screen and (max-width: 1600px) {
    .movies-list-wrapper {
        padding: 0 1%;
    }
  }

  @media only screen and (max-width: 1400px) {
    .movie-list--cards {
        grid-template-columns: auto auto auto auto;
    }
  }  

  @media only screen and (max-width: 1300px) {
    .movie-list--cards {
        grid-template-columns: auto auto auto;
    }
  }  

  @media only screen and (max-width: 1000px) {
    .movie-list--cards {
        grid-template-columns: auto auto;
        justify-items: center;
    }
  }  

  @media only screen and (max-height: 800px) {
    .movie-list--cards {
        justify-items: center;
    }
  }  

  @media only screen and (max-width: 400px) {
    .movie-list--cards {
        grid-template-columns: auto;
    }
  }  